<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>404999241058-53udiv6npv14ks0krkjqii17osuj3db9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.404999241058-53udiv6npv14ks0krkjqii17osuj3db9</string>
	<key>API_KEY</key>
	<string>AIzaSyB740nCcohEvFTDWe-rez8bTidui21wNhs</string>
	<key>GCM_SENDER_ID</key>
	<string>404999241058</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hgp.HypeTalk2-0</string>
	<key>PROJECT_ID</key>
	<string>hypetalk-6615a</string>
	<key>STORAGE_BUCKET</key>
	<string>hypetalk-6615a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:404999241058:ios:24cc05939bf9342f</string>
	<key>DATABASE_URL</key>
	<string>https://hypetalk-6615a.firebaseio.com</string>
</dict>
</plist>